*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(ima.jpeg);
    background-size: cover;

}

#header {
    background-color: antiquewhite;
    color: #333;
    text-align: left;
    padding: 10px;
}
#header h1 {
    font-size: 60px;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    min-height: 100vh; 
    
}

.panel {
    flex: 1; 
    width: 100%; 
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin: 10px; 
    border-radius: 10px; 
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.panel h2{
    width: 100%;
    padding: 10px;
    color: #555;
    font-size: 2rem;
}

.panel p{
    width: 100%;
    padding: 10px;
    color: #555;
    font-size: 2rem; 
}
.panel input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
  }

.panel input:hover {
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
.hide {
    position: absolute;
    transform: translateY(-300%);
  }
  
@media (max-width: 768px) {
    .panel {
        width: 100%; 
    }
}